<!DOCTYPE html>
<html>
<head>
    <title>Raspadinha</title>
</head>
<body>

<h1>💰 Raspadinha</h1>
<h2>Saldo: R$ <span id="saldo">{{ saldo }}</span></h2>

<button onclick="raspar()">Raspar</button>

<h3 id="resultado"></h3>

<script>
function raspar() {
    fetch("/raspar", {
        method: "POST"
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("resultado").innerText =
            "Você ganhou: R$ " + data.premio;

        document.getElementById("saldo").innerText =
            data.saldo;
    });
}
</script>

</body>
</html>
